asgiref==3.7.2
contourpy==1.2.1
cycler==0.12.1
Django==5.0.3
django-filter==24.2
django-multiselectfield==0.1.13
fonttools==4.53.1
kiwisolver==1.4.5
matplotlib==3.9.1
mysqlclient==2.2.4
numpy==2.0.0
packaging==24.1
pillow==10.4.0
psycopg2==2.9.9
pyparsing==3.1.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PyQt5Designer==5.14.1
python-dateutil==2.9.0.post0
six==1.16.0
sqlparse==0.4.4
tk==0.1.0
tzdata==2024.1
